<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body class="container">
  <div>
    <div>
      <label for="edadUno">Edad Uno </label>
      <input type="text" [(ngModel)]="edadUno">
    </div>
    <div>
      <label for="edadDos">Edad Dos </label>
      <input type="text" [(ngModel)]="edadDos">
    </div>
    <div>
      <label for="txtSuma"> Suma </label>
      <input type="text" [(ngModel)]="suma">
    </div>
    <div>
      <label for="txtPromedio"> Promedio </label>
      <input type="text" [(ngModel)]="promedio">
    </div>
    <div>
      <button id="btnCalcular" (click)=Calcular()>Calcular</button>
    </div>
    <div>
      <button id="btnLimpiar" (click)=Limpiar()>Limpiar Cuadros de texto</button>
    </div>
  </div>
</body>

</html>

<router-outlet></router-outlet>